.basket-modal {
  position: fixed;
  height: 100vh;
  top: 0;
  width: 100%;
  z-index: 100000;

  &__wrapper {
    z-index: 1000;
    width: 90%;
    background-color: white;
    position: absolute;
    padding: 1.5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media screen and (min-width: 640px){
      width: 575px;
    }
  }

  &__header {
    display: flex;
    justify-content: flex-end;
  }

  &__content {
    text-align: center;
    margin-bottom: 1rem;

    .icon {
      &__cart {
        font-size: 3.5rem;
        line-height: 2rem;
        margin-bottom: 15px;
        display: block;
      }
    }

    h3 {
      font-size: 1.5rem;
      line-height: 2rem;
      font-weight: bold;
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (min-width: 640px){
      flex-direction: row;
    }

    .button-wrapper {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;

      @media screen and (min-width: 640px) {
        flex-direction: row;
      }

      button {
        margin-bottom: 0.25rem;
        width: 100%;
        height: 50px;
        position: relative;

        &.loading {
          &::after {
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            border-radius: 100%;
            border: 2px solid #ccc;
            border-top: none;
            animation: spinnerAnimation 1s linear infinite;
            margin: auto;
            inset: 0;
          }
        }

        @media screen and (min-width: 640px) {
          margin-bottom: 0;
          width: auto;
          min-width: 120px;
        }
      }
      &:first-child {
        margin-right: 0;

        @media screen and (min-width: 640px) {
          margin-right: 3px;
        }
      }

      &:nth-child(3) {
        @media screen and (min-width: 640px) {
          margin-left: auto;
        }

        button {
          min-width: 280px;
        }
      }
    }
  }

  .overlay {
    z-index: 999;
    background-color: rgba(0,0,0,0.6);
  }
}

@keyframes spinnerAnimation {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
}