{% from 'components/button/index.html' import Button %}

{% macro DeleteAddFavouriteModal(class='', title=false, description=false, btn_cancel=false, btn_delete=false, btn_delete_add_favourites=false, icon_class_name=false) %}
  <section class="basket-modal js-basket-modal {{ class }}" hidden>
    <div class="overlay js-overlay"></div>
    <div class="basket-modal__wrapper">
      {% if caller %}
        {{ caller() }}
      {% else %}
        <div class="basket-modal__header">
          <a href="#" class="basket-modal__close js-basket-modal-close">
            <i class="icon-close"></i>
          </a>
        </div>

        <div class="basket-modal__content">
          <i class="icon__cart {{ icon_class_name }}"></i>
          <h3>{{ _(title or 'Sil ve Favorilere Ekle') }}</h3>
          <p><span class="js-basket-modal-product-name"></span> {{ _(description or 'adlı ürünü sepetinden çıkardıktan sonra favoriye eklemek ister misin?') }}</p>
        </div>

        <div class="basket-modal__footer">

          {% set btnTextCancel = _(btn_cancel or 'Vazgeç') %}
          {% set btnTextDelete = _(btn_delete or 'Sil') %}
          {% set btnTextDeleteAddFavourites = _(btn_delete_add_favourites or 'SİL VE FAVORİLERE EKLE') %}

          {% call Button("button", btnTextCancel, class="js-basket-modal-cancel") %}
          {% endcall %}

          {% call Button("button", btnTextDelete, class="js-basket-item-delete") %}
          {% endcall %}

          {% if user.is_authenticated %}
            {% call Button("button", btnTextDeleteAddFavourites, class="bg-dark text-white js-delete-add-favourite") %}
            {% endcall %}
          {% endif %}

        </div>
      {% endif %}
    </div>
  </section>
{% endmacro %}